<a href="https://colab.research.google.com/github/nexusprime-hak/Tubes-Pengkom-K-20-2023_2/blob/main/Tugas_4_Tubes_Mohammad_Najmutstsaqib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("vgsales.csv") print(df)

1. **Jelaskan** atribut/kolom apa saja yang	ada di	dalamnya,	apa makna tiap atribut mengenai apa, dan	jelaskan jenisnya (kategorikal atau kuantitatif,	jika kategorikal,	apakah nominal,	binary,	dst.).
  
  **Jawab** :

  Atribut yang ada pada data tersebut antara lain:

  1. Name
    
    Nama game pada atribut *Name* memberikan identitas unik kepada setiap game dalam dataset. Penggunaan atribut kategorial nominal memungkinkan kita untuk mengelompokkan dan mengidentifikasi game berdasarkan nama atau jenis tertentu, sehingga memfasilitasi analisis dan pemahaman lebih lanjut terkait preferensi atau popularitas tertentu di antara game-game tersebut.

  2. Platform
    
    Atribut *Platform* memberikan informasi tentang platform atau konsol yang digunakan untuk memainkan game tersebut. Dengan jenis atribut kategorikal nominal, kita dapat mengelompokkan game berdasarkan platform tertentu, memungkinkan pemahaman lebih lanjut tentang preferensi pengguna terhadap platform tertentu dan dampaknya pada penjualan.

  3. Year
    
    Atribut *Year* memberikan informasi tentang tahun di mana suatu game dibuat atau dipublikasikan. Jenis atribut kuantitatif diskrit memungkinkan kita untuk melakukan analisis sejarah atau tren perubahan industri game dari waktu ke waktu, membantu pengguna untuk melihat evolusi dan dampak inovasi dalam industri tersebut.
  4. Genre
    
    *Atribut Genre* memberikan wawasan tentang jenis permainan atau kategori tertentu, seperti horor, thriller, atau komedi. Penggunaan atribut kategorikal nominal memungkinkan kita untuk mengidentifikasi preferensi pemain dalam genre tertentu dan menganalisis keterkaitannya dengan penjualan, membantu dalam pengambilan keputusan bisnis.
  5. Publisher
    
    *Publisher* pada atribut tersebut memberikan informasi tentang perusahaan yang mempublikasikan game tersebut. Dengan atribut kategorikal nominal, kita dapat menganalisis dampak reputasi penerbit pada kinerja penjualan game dan mendapatkan wawasan tentang hubungan antara penerbit dan keberhasilan suatu game.
  6. NA_Sales, EU_Sales, JP_Sales, Other_Sales, and Global_Sales
    
    Atribut penjualan seperti *NA_Sales*, *EU_Sales*, *JP_Sales*, *Other_Sales*, dan *Global_Sales* memberikan data kuantitatif kontinyu tentang kinerja penjualan game di berbagai wilayah seperti NA di Amerika Utara, EU di Eropa, JP di Jepang, Other di selain ketiga kontinen atau negara tersebut, dan Global adalah jumlah total keseluruhan penjualan. Analisis terhadap atribut ini dapat memberikan pemahaman tentang pasar regional yang dominan dan kontribusi relatif dari setiap wilayah terhadap penjualan global.

2. **Jelaskan** juga	karakteristik data	untuk tiap atribut,	misalnya terdiri atas nilai apa saja (pada	atribut kategorikal),	atau berapa range nilai datanya (pada	atribut kuantitatif),	berapa persen data yang	kosong,	dll.

  â€¢ Untuk setiap karakteristik data	yang	dibuat,	tuliskan bahasa
  pemrograman/spreadsheet	tool	untuk mendapatkannya,	misalnya dengan
  melakukan sorting,	mencari nilai minimum/maksimum,	dll.

  Jawab:
  
  Pertanyaan pada nomor dua ini akan dijelaskan pada kode dibawah

In [ ]:
nama = df["Name"]
print(nama)

0                                              Wii Sports
1                                       Super Mario Bros.
2                                          Mario Kart Wii
3                                       Wii Sports Resort
4                                Pokemon Red/Pokemon Blue
                               ...
16593                  Woody Woodpecker in Crazy Castle 5
16594                       Men in Black II: Alien Escape
16595    SCORE International Baja 1000: The Official Game
16596                                          Know How 2
16597                                    Spirits & Spells
Name: Name, Length: 16598, dtype: object

Kode diatas menjabarkan tentang nama *game* yang ada pada data tersebut.

In [ ]:
no_name = df[df["Name"].isna()]
print("Tidak ada nama yang tidak terdaftar") if len(no_name) == 0 else print(f"Terdapat {(len(no_name)/len(df))*100} % data nama yang tidak terdaftar dari data yang ada")

Tidak ada nama yang tidak terdaftar

Kode diatas menjelaskan mengenai persentase data nama yang tidak terdaftar pada data diatas.

In [ ]:
platform = df["Platform"].value_counts()
print(platform)

DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
NES       98
GB        98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

Kode diatas menjelaskan mengenai platform apa saja yang ada pada data dan juga jumlah dari platform yang digunakan pada data tersebut.

In [ ]:
no_platform = df[df["Platform"].isna()]
print("Tidak ada platform yang tidak terdaftar") if len(no_platform) == 0 else print(f"Terdapat {(len(no_platform)/len(df))*100} % data platform yang tidak terdaftar dari data yang ada")

Tidak ada platform yang tidak terdaftar

Kode diatas menjelaskan mengenai persentase data platform yang tidak terdaftar pada data diatas.

In [ ]:
minimum,maximum = (df["Year"].min(),df["Year"].max())
int_year = df["Year"].value_counts().sort_index()
int_year.index = int_year.index.astype(int)
year = int_year
print(f"Tahun publikasi pada data diatas antara tahun {int(minimum)} sampai tahun {int(maximum)}.\n")
print("Dibawah ini merupakan jumlah game berdasarkan tahun publikasinya:\n")
print(year)

Tahun publikasi pada data diatas antara tahun 1980 sampai tahun 2020.

Dibawah ini merupakan jumlah game berdasarkan tahun publikasinya:

1980       9
1981      46
1982      36
1983      17
1984      14
1985      14
1986      21
1987      16
1988      15
1989      17
1990      16
1991      41
1992      43
1993      60
1994     121
1995     219
1996     263
1997     289
1998     379
1999     338
2000     349
2001     482
2002     829
2003     775
2004     763
2005     941
2006    1008
2007    1202
2008    1428
2009    1431
2010    1259
2011    1139
2012     657
2013     546
2014     582
2015     614
2016     344
2017       3
2020       1
Name: Year, dtype: int64

In [ ]:
no_year = df[df["Year"].isna()]
print("Tidak ada tahun yang tidak terdaftar") if len(no_year) == 0 else print(f"Terdapat {(len(no_year)/len(df))*100} % data tahun yang tidak terdaftar dari data yang ada")

Terdapat 1.6327268345583803 % data tahun yang tidak terdaftar dari data yang ada

Kode diatas menjelaskan mengenai persentase data tahun yang tidak terdaftar pada data diatas.

In [ ]:
genre = df["Genre"].value_counts().index
print(f"Genre game pada data antara lain: {', '.join(genre[:len(genre) - 1])}, dan {genre[len(genre)-1]}.")

Genre game pada data antara lain: Action, Sports, Misc, Role-Playing, Shooter, Adventure, Racing, Platform, Simulation, Fighting, Strategy, dan Puzzle.

Kode diatas menjelaskan mengenai genre apa saja yang ada pada data tersebut.

In [ ]:
no_genre = df[df["Genre"].isna()]
print("Tidak ada genre yang tidak terdaftar") if len(no_genre) == 0 else print(f"Terdapat {(len(no_genre)/len(df))*100} % data genre yang tidak terdaftar dari data yang ada")

Tidak ada genre yang tidak terdaftar

Kode diatas menjelaskan mengenai persentase data genre yang tidak terdaftar pada data diatas.

In [ ]:
publisher = df["Publisher"].value_counts()
print(publisher)

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
Warp                               1
New                                1
Elite                              1
Evolution Games                    1
UIG Entertainment                  1
Name: Publisher, Length: 578, dtype: int64

Kode diatas menjabarkan tentang data *publisher* dan jumlah game yang dihasilkan oleh *publisher* tersebut.

In [ ]:
no_publisher = df[df["Publisher"].isna()]
print("Tidak ada genre yang tidak terdaftar") if len(no_publisher) == 0 else print(f"Terdapat {(len(no_publisher)/len(df))*100} % data publisher yang tidak terdaftar dari data yang ada")

Terdapat 0.3494396915290999 % data publisher yang tidak terdaftar dari data yang ada

Kode diatas menjelaskan mengenai persentase data *publisher* yang tidak terdaftar pada data diatas.

In [ ]:
min_na,max_na = (df["NA_Sales"].min(),df["NA_Sales"].max())
print(f"Range penjualan di daerah Amerika Utara adalah {(int(min_na*100000)):,} sampai {int(max_na*100000):,} copy")

Range penjualan di daerah Amerika Utara adalah 0 sampai 4,149,000 copy

Kode diatas menjelaskan tentang range penjualan di Amerika Utara.

In [ ]:
no_na = df[df["NA_Sales"].isna()]
print("Tidak ada penjualan di Amerika Utara yang tidak terdaftar") if len(no_na) == 0 else print(f"Terdapat {(len(no_na)/len(df))*100} % data penjualan di Amerika Utara yang tidak terdaftar dari data yang ada")

Tidak ada penjualan di Amerika Utara yang tidak terdaftar

Kode diatas menjelaskan mengenai persentase data penjualan di Amerika Utara yang tidak terdaftar pada data diatas.

In [ ]:
min_eu,max_eu = (df["EU_Sales"].min(),df["EU_Sales"].max())
print(f"Range penjualan di daerah Eropa adalah {(int(min_eu*100000)):,} sampai {int(max_eu*100000):,} copy")

Range penjualan di daerah Eropa adalah 0 sampai 2,902,000 copy

Kode diatas menjelaskan tentang range penjualan di Eropa.

In [ ]:
no_eu = df[df["EU_Sales"].isna()]
print("Tidak ada penjualan di Eropa yang tidak terdaftar") if len(no_eu) == 0 else print(f"Terdapat {(len(no_eu)/len(df))*100} % data penjualan di Eropa yang tidak terdaftar dari data yang ada")

Tidak ada penjualan di Eropa yang tidak terdaftar

Kode diatas menjelaskan mengenai persentase data penjualan di Eropa yang tidak terdaftar pada data diatas.

In [ ]:
min_jp,max_jp = (df["JP_Sales"].min(),df["JP_Sales"].max())
print(f"Range penjualan di daerah Jepang adalah {(int(min_jp*100000)):,} sampai {int(max_jp*100000):,} copy")

Range penjualan di daerah Eropa adalah 0 sampai 1,022,000 copy

Kode diatas menjelaskan tentang range penjualan di Jepang.

In [ ]:
no_jp = df[df["JP_Sales"].isna()]
print("Tidak ada penjualan di Jepang yang tidak terdaftar") if len(no_jp) == 0 else print(f"Terdapat {(len(no_jp)/len(df))*100} % data penjualan di Jepang yang tidak terdaftar dari data yang ada")

Tidak ada penjualan di Jepang yang tidak terdaftar

Kode diatas menjelaskan mengenai persentase data penjualan di Jepang yang tidak terdaftar pada data diatas.

In [ ]:
min_Other,max_Other = (df["Other_Sales"].min(),df["Other_Sales"].max())
print(f"Range penjualan di daerah lainnya adalah {(int(min_Other*100000)):,} sampai {int(max_Other*100000):,} copy")

Range penjualan di daerah lainnya adalah 0 sampai 1,057,000 copy

Kode diatas menjelaskan tentang range penjualan di daerah lainnya.

In [ ]:
no_Other = df[df["Other_Sales"].isna()]
print("Tidak ada penjualan di daerah lainnya yang tidak terdaftar") if len(no_Other) == 0 else print(f"Terdapat {(len(no_Other)/len(df))*100} % data penjualan di daerah lainnya yang tidak terdaftar dari data yang ada")

Tidak ada penjualan di daerah lainnya yang tidak terdaftar

Kode diatas menjelaskan mengenai persentase data penjualan di daerah lainnya yang tidak terdaftar pada data diatas.

In [ ]:
min_Global,max_Global = (df["Global_Sales"].min(),df["Global_Sales"].max())
print(f"Range penjualan secara global adalah {(int(min_Global*100000)):,} sampai {int(max_Global*100000):,} copy")

Range penjualan secara keseluruhan adalah 1,000 sampai 8,273,999 copy

Kode diatas menjelaskan tentang range penjualan secara global.

In [ ]:
no_Global = df[df["Global_Sales"].isna()]
print("Tidak ada penjualan secara global yang tidak terdaftar") if len(no_Global) == 0 else print(f"Terdapat {(len(no_Global)/len(df))*100} % data penjualan secara global yang tidak terdaftar dari data yang ada")

Tidak ada penjualan secara global yang tidak terdaftar

Kode diatas menjelaskan mengenai persentase data penjualan secara global yang tidak terdaftar pada data diatas.